{% include 'core/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css.map' %}"> -->

</head>
<body>
    <div class="page-heading" id="top">
        <div class="container">
         <div class="row my-3">
          <div class="col-sm-8 offset-sm-3">
           <h3 class="container mt-4 text-center" id="dood" >Login </h3>
          
        <div class="center">
           <form action="" method="post" novalidate class="shadow p-5 mb-4" id="dood">
            {% if messages %}
        {% for message in messages  %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</div>
        {% endfor %}
        {% endif %}
            {% csrf_token %}
            {% for fm in form %}
            
            <div class="form-group mb-3">
              {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
            <input type="submit" value="SUBMIT" class="btn btn-dark">
            <br>
            <div class="text-center text-dark fw-bold"><small>New User ? <a href="{% url 'register' %}"
              class="text-danger">register</a> </small></div>
           {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
           <p class="alert alert-danger my-3">{{error}}</p>
           {% endfor %}
           {% endif %}
            
           </form>
          </div>
          </div>
         </div>
        </div>
        </div>
</body>
</html>
